# Limpeza e preparação dos dados

## Dados Ausentes

Dados ausentes podem ser representados por NAN (Not a Number) ou NONE, esse tipo de dados no PANDAS são considerados NA ( Not Available)

### Excluindo Dados Ausentes

In [21]:
import pandas as pd
import numpy as np

In [19]:
data = pd.DataFrame([
    [1,6.5,3],
    [1, np.nan, None],
    [np.nan,np.nan,np.nan],
    [np.nan,6.5,3],
    [None, None, None]
])

display(data)

# remove os Valores Ausentes
display(data.dropna().style.set_caption('Remove os Valores Ausentes'))

# Remove apenas as linhas com todos os Valores Ausentes
display(data.dropna(how="all").style.set_caption('Remove apenas as linhas com todos os Valores Ausentes'))

data['new_column'] = np.nan
display(data)

# Remove apenas as colunas com todos os Valores Ausentes
display(data.dropna(how="all", axis='columns').style.set_caption('Remove apenas as colunas com todos os Valores Ausentes'))

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0
4  NaN  NaN  NaN

     0    1    2  new_column
0  1.0  6.5  3.0         NaN
1  1.0  NaN  NaN         NaN
2  NaN  NaN  NaN         NaN
3  NaN  6.5  3.0         NaN
4  NaN  NaN  NaN         NaN

### Preenchendo Dados Ausentes

In [31]:
data2 = pd.DataFrame(np.random.standard_normal((7,3)))

data2.iloc[:4,0] = np.nan
data2.iloc[2:5,2] = np.nan

display(data2)

# Preenche os dados ausentes com um VALOR
display(data2.fillna('NULO').style.set_caption("Preenche os dados ausentes com um VALOR"))

# Preenche os dados ausentes com um VALOR diferente para cada coluna
display(data2.fillna({0:'NULO',2:'VAZIO'}).style.set_caption("Preenche os dados ausentes com um VALOR diferente para cada coluna"))

          0         1         2
0       NaN -2.105386  0.466196
1       NaN -0.842781  0.045549
2       NaN  0.937307       NaN
3       NaN -1.245970       NaN
4  0.096486 -0.529587       NaN
5 -1.135631  1.274999 -0.091634
6 -0.551180 -0.809739  0.511790

## Transformação de dados