# Estudo do PANDAS
### Exemplos extraídos do livro PYTHON - para analise de dados de Wes McKinney (Criador do Pandas)

In [83]:
import pandas as pd

import numpy as np

### Estrutura de dados do Pandas

As principais estruturas de dados do pandas são:
* Series
* DataFrame

#### Series

São arrays UNIDIMENSIONAIS de mesmo TIPO semelhantes aos do NumPy, com um array associado chamado *ÍNDICE*

Uma Série simples é formada a partir de um array de dados (List Python ou Array Numpy)

In [84]:
# Iniciando uma Série

# Com uma Lista Python
lista_python = [4,7,-5,3]

print(f"Dados para iniciar a 1ª série:\n{lista_python}\nTipo: {type(lista_python)}")

serie_lista_python = pd.Series(lista_python)

print(f"\nSérie gerada a partir de uma lista python:\n{serie_lista_python}")

# ------------------------------------------------------------------------------------

# Com um array Numpy
array_numpy = np.array([4,7,-5,3])
print(f"\nDados para iniciar a 2ª série:\n{array_numpy}\nTipo: {type(array_numpy)}")

serie_array_numpy = pd.Series(array_numpy)

print(f"\nSérie gerada a partir de um array numpy:\n{serie_array_numpy}")

Dados para iniciar a 1ª série:
[4, 7, -5, 3]
Tipo: <class 'list'>

Série gerada a partir de uma lista python:
0    4
1    7
2   -5
3    3
dtype: int64

Dados para iniciar a 2ª série:
[ 4  7 -5  3]
Tipo: <class 'numpy.ndarray'>

Série gerada a partir de um array numpy:
0    4
1    7
2   -5
3    3
dtype: int32

##### Indice de uma Série

In [85]:
# Uma Série é composta pelo array com os valores e um array com o índice desses valores

# exemplo

pandas_series = pd.Series(["paulo","natally","pietro","amanda"])


# Dados do array
print(f"Dados da Série\n{pandas_series.array}")

# Índice do array
print(f"\nÍndice da Série\n{pandas_series.index}")

# Os indices podem ser explicitados na criação da Série
pandas_series_2 = pd.Series([10,5,8,4],index=['a','b','c','d'])
print(f"\nSérie 2\n{pandas_series_2}")
print(f"\nDados da Série2\n{pandas_series_2.array}")
print(f"\nÍndice da Série2\n{pandas_series_2.index}")

# Os indices podem ser usados como filtro, da mesma forma que o fatiamento e slice no Numpy
# Exemplo

print(f"Busca por indice posicional [2]: {pandas_series_2[2]}")
print(f"Busca por indice nominal [c]: {pandas_series_2['c']}")

Dados da Série
<NumpyExtensionArray>
['paulo', 'natally', 'pietro', 'amanda']
Length: 4, dtype: object

Índice da Série
RangeIndex(start=0, stop=4, step=1)

Série 2
a    10
b     5
c     8
d     4
dtype: int64

Dados da Série2
<NumpyExtensionArray>
[10, 5, 8, 4]
Length: 4, dtype: int64

Índice da Série2
Index(['a', 'b', 'c', 'd'], dtype='object')
Busca por indice posicional [2]: 8
Busca por indice nominal [c]: 8

C:\Users\Public\Documents\Public\Temp\ipykernel_5220\705094139.py:23: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(f"Busca por indice posicional [2]: {pandas_series_2[2]}")

##### Série iniciadas com Dicionário Python

In [86]:
# A presença de um Índice em um Série a torna similar a um Dicionário, podendo inclusive ser iniciada com um Dicionário Python

# Exemplo de teste com o índice
print(f"Verificando se 'd' existe em pandas_series_2: {'d' in pandas_series_2}")

# Iniciando com um Dicionario
dic_python = {'paulo':5,'bianca':10, 'pietro':10, 'amanda':7}
print(f"\nCriando uma Séries com um dicionário: {type(dic_python)}\n{dic_python}")
pandas_series_dic = pd.Series(dic_python)

print(f"\nSérie criada com o dicionario python: {type(pandas_series_dic)}\n{pandas_series_dic}")

# Da mesma forma uma Série pode ser convertida em um dicionário
dic_conv_serie = pandas_series_dic.to_dict()
print(f"\nDicionario originario de uma Série: {type(dic_conv_serie)}\n{dic_conv_serie}")

# Uma Série indexada pode receber um indice que funcionara como um filtro para a Série originada

indice = ['patrizia','paulo','pietro','bianca']

serie_result = pd.Series(dic_python,index=indice)
print(f"Série resultante de um indice especifico para o dicionario de origem:\n{serie_result}")

Verificando se 'd' existe em pandas_series_2: True

Criando uma Séries com um dicionário: <class 'dict'>
{'paulo': 5, 'bianca': 10, 'pietro': 10, 'amanda': 7}

Série criada com o dicionario python: <class 'pandas.core.series.Series'>
paulo      5
bianca    10
pietro    10
amanda     7
dtype: int64

Dicionario originario de uma Série: <class 'dict'>
{'paulo': 5, 'bianca': 10, 'pietro': 10, 'amanda': 7}
Série resultante de um indice especifico para o dicionario de origem:
patrizia     NaN
paulo        5.0
pietro      10.0
bianca      10.0
dtype: float64

##### Nomeando os Eixos

In [87]:
serie_result = pd.Series([30000,75000,152300,37000],index=['SP','RJ','MG','BH'])

print(serie_result)

serie_result.index.name = "Estados"
serie_result.name = "População"

print(f"\nSerie com os eixos nomeados\n{serie_result}")

SP     30000
RJ     75000
MG    152300
BH     37000
dtype: int64

Serie com os eixos nomeados
Estados
SP     30000
RJ     75000
MG    152300
BH     37000
Name: População, dtype: int64

#### DataFrame

Um dataframe é uma representação de uma tabela de dados retangular que contém uma coleção ordenada e nomeada de colunas, cada uma podenter um tipo de valor diferente.

O dataframe tem um Índice para linha e outro para colunas.

PENSE em um dataframe como um DICIONARIO DE **SÉRIES** todas compartilhando um mesmo indice

##### Iniciando um dataframe

In [88]:
# O Dataframe pode ser iniciado a partir de um DICIONÁRIO DE LISTAS PYTHON, ou de um ARRAY NUMPY

# DICIONÁRIO DE LISTAS PYTHON

dic_listas = {'estados':['sp', 'rj', 'rs', 'sc', 'ce'],
              'ano':[2020, 2025, 2021, 2022, 2019],
              'populacao':[1.5, 1.7, 3.6, 2.4, 29]}

print(f"Dicionario para criação do DataFrame:\n{dic_listas}")

df_dic_lista = pd.DataFrame(dic_listas)

print(f"\nDataFrame criado a partir de um cicionário:\n{df_dic_lista}")

# DICIONÁRIO DE ARRAY NUMPY

dic_arr_numpy = {'estados':np.array(['sp', 'rj', 'rs', 'sc', 'ce']),
              'ano':np.array([2020, 2025, 2021, 2022, 2019]),
              'populacao':np.array([1.5, 1.7, 3.6, 2.4, 29])}

print(f"\n\nDicionario de arrays NUMPY para criação do DataFrame:\n{dic_arr_numpy}")

df_dic_arr_numpy = pd.DataFrame(dic_arr_numpy)

print(f"\nDataFrame criado a partir de um dicionário de arrays NUMPY:\n{df_dic_lista}")

# DICIONÁRIO DE SÉRIES

dic_series = {'estados':pd.Series(['sp', 'rj', 'rs', 'sc', 'ce']),
              'ano':pd.Series([2020, 2025, 2021, 2022, 2019]),
              'populacao':pd.Series([1.5, 1.7, 3.6, 2.4, 29])}

print(f"\n\nDicionario de Séries para criação do DataFrame:\n{dic_series}")

df_dic_series = pd.DataFrame(dic_series)

print(f"\nDataFrame criado a partir de um dicionário de Séries:\n{df_dic_series}")

# ARRAY NUMPY

arr = np.arange(9).reshape((3,3))

print(f"\n\nArray para criação do DataFrame:\n{arr}")

df_arr = pd.DataFrame(arr)

print(f"\nDataFrame criado a partir de um array:\n{df_arr}")

Dicionario para criação do DataFrame:
{'estados': ['sp', 'rj', 'rs', 'sc', 'ce'], 'ano': [2020, 2025, 2021, 2022, 2019], 'populacao': [1.5, 1.7, 3.6, 2.4, 29]}

DataFrame criado a partir de um cicionário:
  estados   ano  populacao
0      sp  2020        1.5
1      rj  2025        1.7
2      rs  2021        3.6
3      sc  2022        2.4
4      ce  2019       29.0


Dicionario de arrays NUMPY para criação do DataFrame:
{'estados': array(['sp', 'rj', 'rs', 'sc', 'ce'], dtype='<U2'), 'ano': array([2020, 2025, 2021, 2022, 2019]), 'populacao': array([ 1.5,  1.7,  3.6,  2.4, 29. ])}

DataFrame criado a partir de um dicionário de arrays NUMPY:
  estados   ano  populacao
0      sp  2020        1.5
1      rj  2025        1.7
2      rs  2021        3.6
3      sc  2022        2.4
4      ce  2019       29.0


Dicionario de Séries para criação do DataFrame:
{'estados': 0    sp
1    rj
2    rs
3    sc
4    ce
dtype: object, 'ano': 0    2020
1    2025
2    2021
3    2022
4    2019
dtype: int64, 'populacao': 0     1.5
1     1.7
2     3.6
3     2.4
4    29.0
dtype: float64}

DataFrame criado a partir de um dicionário de Séries:
  estados   ano  populacao
0      sp  2020        1.5
1      rj  2025        1.7
2      rs  2021        3.6
3      sc  2022        2.4
4      ce  2019       29.0


Array para criação do DataFrame:
[[0 1 2]
 [3 4 5]
 [6 7 8]]

DataFrame criado a partir de um array:
   0  1  2
0  0  1  2
1  3  4  5
2  6  7  8

##### Manipulando um DataFrame

In [89]:
# Dicionario para o DataFrame
dic_listas = {'estados':['sp', 'rj', 'rs', 'sc', 'ce','am','pa','to','pr','mg','bh'],
              'ano':[2020, 2025, 2021, 2022, 2019,2023,2024,2018,2017,2009,2008],
              'populacao':[1.5, 1.7, 3.6, 2.4, 2.9, 1.9, 0.9, 1.3, 3.9, 1.2, 0.5,]}

# Ao criar um dataframe é possivel passar a lista de colunas para DEFINIR A ORDEM DAS COLUNAS

df_1 = pd.DataFrame(dic_listas,columns=['ano','estados','populacao'])

print(f"{df_1}\n")

df_1 = pd.DataFrame(dic_listas,columns=['ano','estados','populacao','pais'])
print(f"Com uma coluna que não existe na fonte dos dados:\n{df_1}\n")


print(f"Head exibe as 5 primeiras linhas:\n{df_1.head()}\n")

print(f"Tail exibe as 5 ultimas linhas:\n{df_1.tail()}\n")

print(f"A propriedade COLUMNS retorna um INDEX com a relação de colunas do DataFrame:\n{df_1.columns}\n")

print(f"Uma coluna pode ser acessada da mesma forma que fazemos com um dicionário dic[chave],\no dataframe retornará uma SERIE:\n{type(df_1['estados'])}\n{df_1['estados']}\n")

print(f"Podemos acessar uma linha especifica com LOC ou ILOC:\nLOC[1]:{df_1.loc[1]}\n\nILOC[1]\n{df_1.iloc[1]}\n")

print(f"Quando recuperamos uma linha ela se torna uma SERIE e as colunas passam a ser o INDEX da Serie:{type(df_1.loc[1])}\nILOC[1]\n{df_1.iloc[1]}\nINDICE({df_1.iloc[1].index})\n")


# Dicionario para o DataFrame
dic_listas_2 = {'estados':['sp', 'rj', 'rs', 'sc', 'ce','am','pa','to','pr','mg','bh'],
              'populacao':[1.5, 1.7, 3.6, 2.4, 2.9, 1.9, 0.9, 1.3, 3.9, 1.2, 0.5,]}

df_2 = pd.DataFrame(dic_listas_2,index=df_1['ano'].to_list())
print(f"Um DataFrame também pode ter o INDEX nomeado\nEx: DataFrame SEM index definido:\n{df_1.index}\n{(df_1.head())}\n\nEx: DataFrame COM index definido:\n{df_2.index}\n{(df_2.head())}\n")


print(f"Podemos incluir colunas com valores ESCALARES ou LISTA de VALORES\n")
df_1['pais'] = 'Brasil'
print(f"{df_1}\n")
df_1['clima'] = ['QUENTE','FRIO','QUENTE','FRIO','QUENTE','FRIO','QUENTE','FRIO','QUENTE','FRIO','FRIO']
print(f"{df_1}\n")

     ano estados  populacao
0   2020      sp        1.5
1   2025      rj        1.7
2   2021      rs        3.6
3   2022      sc        2.4
4   2019      ce        2.9
5   2023      am        1.9
6   2024      pa        0.9
7   2018      to        1.3
8   2017      pr        3.9
9   2009      mg        1.2
10  2008      bh        0.5

Com uma coluna que não existe na fonte dos dados:
     ano estados  populacao pais
0   2020      sp        1.5  NaN
1   2025      rj        1.7  NaN
2   2021      rs        3.6  NaN
3   2022      sc        2.4  NaN
4   2019      ce        2.9  NaN
5   2023      am        1.9  NaN
6   2024      pa        0.9  NaN
7   2018      to        1.3  NaN
8   2017      pr        3.9  NaN
9   2009      mg        1.2  NaN
10  2008      bh        0.5  NaN

Head exibe as 5 primeiras linhas:
    ano estados  populacao pais
0  2020      sp        1.5  NaN
1  2025      rj        1.7  NaN
2  2021      rs        3.6  NaN
3  2022      sc        2.4  NaN
4  2019      ce        2.9  NaN

Tail exibe as 5 ultimas linhas:
     ano estados  populacao pais
6   2024      pa        0.9  NaN
7   2018      to        1.3  NaN
8   2017      pr        3.9  NaN
9   2009      mg        1.2  NaN
10  2008      bh        0.5  NaN

A propriedade COLUMNS retorna um INDEX com a relação de colunas do DataFrame:
Index(['ano', 'estados', 'populacao', 'pais'], dtype='object')

Uma coluna pode ser acessada da mesma forma que fazemos com um dicionário dic[chave],
o dataframe retornará uma SERIE:
<class 'pandas.core.series.Series'>
0     sp
1     rj
2     rs
3     sc
4     ce
5     am
6     pa
7     to
8     pr
9     mg
10    bh
Name: estados, dtype: object

Podemos acessar uma linha especifica com LOC ou ILOC:
LOC[1]:ano          2025
estados        rj
populacao     1.7
pais          NaN
Name: 1, dtype: object

ILOC[1]
ano          2025
estados        rj
populacao     1.7
pais          NaN
Name: 1, dtype: object

Quando recuperamos uma linha ela se torna uma SERIE e as colunas passam a ser o INDEX da Serie:<class 'pandas.core.series.Series'>
ILOC[1]
ano          2025
estados        rj
populacao     1.7
pais          NaN
Name: 1, dtype: object
INDICE(Index(['ano', 'estados', 'populacao', 'pais'], dtype='object'))

Um DataFrame também pode ter o INDEX nomeado
Ex: DataFrame SEM index definido:
RangeIndex(start=0, stop=11, step=1)
    ano estados  populacao pais
0  2020      sp        1.5  NaN
1  2025      rj        1.7  NaN
2  2021      rs        3.6  NaN
3  2022      sc        2.4  NaN
4  2019      ce        2.9  NaN

Ex: DataFrame COM index definido:
Index([2020, 2025, 2021, 2022, 2019, 2023, 2024, 2018, 2017, 2009, 2008], dtype='int64')
     estados  populacao
2020      sp        1.5
2025      rj        1.7
2021      rs        3.6
2022      sc        2.4
2019      ce        2.9

Podemos incluir colunas com valores ESCALARES ou LISTA de VALORES

     ano estados  populacao    pais
0   2020      sp        1.5  Brasil
1   2025      rj        1.7  Brasil
2   2021      rs        3.6  Brasil
3   2022      sc        2.4  Brasil
4   2019      ce        2.9  Brasil
5   2023      am        1.9  Brasil
6   2024      pa        0.9  Brasil
7   2018      to        1.3  Brasil
8   2017      pr        3.9  Brasil
9   2009      mg        1.2  Brasil
10  2008      bh        0.5  Brasil

     ano estados  populacao    pais   clima
0   2020      sp        1.5  Brasil  QUENTE
1   2025      rj        1.7  Brasil    FRIO
2   2021      rs        3.6  Brasil  QUENTE
3   2022      sc        2.4  Brasil    FRIO
4   2019      ce        2.9  Brasil  QUENTE
5   2023      am        1.9  Brasil    FRIO
6   2024      pa        0.9  Brasil  QUENTE
7   2018      to        1.3  Brasil    FRIO
8   2017      pr        3.9  Brasil  QUENTE
9   2009      mg        1.2  Brasil    FRIO
10  2008      bh        0.5  Brasil    FRIO

##### Alterando valores em SÉRIES extraídas do DataFrame

In [90]:
df_2 = df_1.copy()

serie_ano = df_2["ano"]

print(f"DataFrame \n{df_2}")

print(f"Série ano \n{serie_ano}")

for serie in range(11):
    serie_ano[serie] = serie_ano[serie] + serie

print("\nAjustando os dados na Serie")

print(f"\nSérie ano após ajuste\n{serie_ano}")

print(f"\nDataFrame após ajuste na Série \n{df_2}")

DataFrame
     ano estados  populacao    pais   clima
0   2020      sp        1.5  Brasil  QUENTE
1   2025      rj        1.7  Brasil    FRIO
2   2021      rs        3.6  Brasil  QUENTE
3   2022      sc        2.4  Brasil    FRIO
4   2019      ce        2.9  Brasil  QUENTE
5   2023      am        1.9  Brasil    FRIO
6   2024      pa        0.9  Brasil  QUENTE
7   2018      to        1.3  Brasil    FRIO
8   2017      pr        3.9  Brasil  QUENTE
9   2009      mg        1.2  Brasil    FRIO
10  2008      bh        0.5  Brasil    FRIO
Série ano
0     2020
1     2025
2     2021
3     2022
4     2019
5     2023
6     2024
7     2018
8     2017
9     2009
10    2008
Name: ano, dtype: int64

Ajustando os dados na Serie

Série ano após ajuste
0     2020
1     2026
2     2023
3     2025
4     2023
5     2028
6     2030
7     2025
8     2025
9     2018
10    2018
Name: ano, dtype: int64

DataFrame após ajuste na Série
     ano estados  populacao    pais   clima
0   2020      sp        1.5  Brasil  QUENTE
1   2026      rj        1.7  Brasil    FRIO
2   2023      rs        3.6  Brasil  QUENTE
3   2025      sc        2.4  Brasil    FRIO
4   2023      ce        2.9  Brasil  QUENTE
5   2028      am        1.9  Brasil    FRIO
6   2030      pa        0.9  Brasil  QUENTE
7   2025      to        1.3  Brasil    FRIO
8   2025      pr        3.9  Brasil  QUENTE
9   2018      mg        1.2  Brasil    FRIO
10  2018      bh        0.5  Brasil    FRIO

C:\Users\Public\Documents\Public\Temp\ipykernel_5220\2464720095.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  serie_ano[serie] = serie_ano[serie] + serie
C:\Users\Public\Documents\Public\Temp\ipykernel_5220\2464720095.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  serie_ano[serie] = serie_ano[serie] + serie
C:\Users\Public\Documents\Public\Temp\ipykernel_5220\2464720095.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  serie_ano[serie] = serie_ano[serie] + serie
C:\Users\Public\Documents\Public\Temp\ipykernel_5220\2464720095.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  serie_ano[serie] = serie_ano[serie] + serie
C:\Users\Public\Documents\Public\Temp\ipykernel_5220\2464720095.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  serie_ano[serie] = serie_ano[serie] + serie
C:\Users\Public\Documents\Public\Temp\ipykernel_5220\2464720095.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  serie_ano[serie] = serie_ano[serie] + serie
C:\Users\Public\Documents\Public\Temp\ipykernel_5220\2464720095.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  serie_ano[serie] = serie_ano[serie] + serie
C:\Users\Public\Documents\Public\Temp\ipykernel_5220\2464720095.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  serie_ano[serie] = serie_ano[serie] + serie
C:\Users\Public\Documents\Public\Temp\ipykernel_5220\2464720095.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  serie_ano[serie] = serie_ano[serie] + serie
C:\Users\Public\Documents\Public\Temp\ipykernel_5220\2464720095.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  serie_ano[serie] = serie_ano[serie] + serie
C:\Users\Public\Documents\Public\Temp\ipykernel_5220\2464720095.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  serie_ano[serie] = serie_ano[serie] + serie

##### Indices

O Dataframe possue dois índices (objetos INDEX [pandas.core.indexes.base.Index]), um para Linhas e outro para Colunas.

Quando as linhas não tem um índice definido ele é uma sequência numérica, utilizando o objeto [pandas.core.indexes.range.RangeIndex]

In [99]:

# Indices do DataFrame com as LINHAS PADRÃO (RangeIndex)
print("Indices do DataFrame com as LINHAS PADRÃO (RangeIndex)")
print(type(df_1.columns))
print(type(df_1.index))

df_teste = pd.DataFrame(df_1[['estados','populacao','pais','clima']].to_dict(orient='records'),index=df_1['ano'].tolist())

# Indices do DataFrame com as LINHAS com indices definidos
print("\nIndices do DataFrame com as LINHAS com INDICES DEFINIDOS")
print(type(df_teste.columns))
print(type(df_teste.index))

Indices do DataFrame com as LINHAS PADRÃO (RangeIndex)
<class 'pandas.core.indexes.base.Index'>
<class 'pandas.core.indexes.range.RangeIndex'>

Indices do DataFrame com as LINHAS com INDICES DEFINIDOS
<class 'pandas.core.indexes.base.Index'>
<class 'pandas.core.indexes.base.Index'>

In [103]:
# Os índices SÃO OS RÓTULOS dos EIXOS, além dos METADADOS que são o NOME dos INDICES

df_teste.columns.name = "colunas"
print(f"df_teste.columns\n{df_teste.columns}")

df_teste.index.name = "linhas"
print(f"\ndf_teste.index\n{df_teste.index}")

print(f"\nDataFrame com Indices DEFINIDOS e NOMEADOS\n{df_teste}")

df_teste.columns
Index(['estados', 'populacao', 'pais', 'clima'], dtype='object', name='colunas')

df_teste.index
Index([2020, 2025, 2021, 2022, 2019, 2023, 2024, 2018, 2017, 2009, 2008], dtype='int64', name='linhas')

DataFrame com Indices DEFINIDOS e NOMEADOS
colunas estados  populacao    pais   clima
linhas
2020         sp        1.5  Brasil  QUENTE
2025         rj        1.7  Brasil    FRIO
2021         rs        3.6  Brasil  QUENTE
2022         sc        2.4  Brasil    FRIO
2019         ce        2.9  Brasil  QUENTE
2023         am        1.9  Brasil    FRIO
2024         pa        0.9  Brasil  QUENTE
2018         to        1.3  Brasil    FRIO
2017         pr        3.9  Brasil  QUENTE
2009         mg        1.2  Brasil    FRIO
2008         bh        0.5  Brasil    FRIO

REINDEX => É uma forma de redefinir os INDICES (Linhas e Colunas), funciona como um filtro no DataFrame, funciona como o LOC, a diferença que o REINDEX permite a INCLUSÃO de novas LINHAS ou COLUNAS mesmo que sem valores, ou replicando os valores anteriores com o PARAMETRO FFILL

RESET_INDEX => Já o RESET_INDEX(), refaz o INDICE de LINHAS, caso já tenha um INDICE personalizado ele VIRÁ UMA COLUNA e o NOME É REMOVIDO.

###### **Reindex**

In [111]:
df_index = df_teste.copy()

df = df_index.reindex(index=[2020, 2021],columns=["estados","capital"])

df

colunas estados  capital
linhas
2020         sp      NaN
2021         rs      NaN

###### **Reset_index**

In [119]:
print("Indice após o RESET_INDEX")

df_reset = df.reset_index()

print(df_reset.index.name)
print(df_reset.columns.name)

print(df_reset.index)
print(df_reset.columns)

Indice após o RESET_INDEX
None
colunas
RangeIndex(start=0, stop=2, step=1)
Index(['linhas', 'estados', 'capital'], dtype='object', name='colunas')

###### Drop

O Drop remove um eixo (linha ou coluna) e retorna um novo objeto

In [146]:
# Exemplo com SÉRIES

serie_drop = pd.Series(np.arange(5),index=['a','b','c','d','e'],name='SERIE DROP')

serie_drop.index.name = "Numeros"

print(f"{serie_drop}")

serie_drop_2 = serie_drop.drop('c')
print(f"\nRemovendo a linha [C] com DROP\n{serie_drop_2}")


# Exemplo com DataFrames
# m1
# df_drop = pd.DataFrame({"Aluno":["paulo","pietro","patrizia"],"Nota":[8,10,9],"Idade":[41,8,40]})
# m2
# df_drop = pd.DataFrame({"Aluno":{'A':"paulo",'B':"pietro",'C':"patrizia"},"Nota":{'A':8,'B':10,'C':9},"Idade":{'A':41,'B':8,'C':40}})
# m3 (com array Numpy) 
df_drop = pd.DataFrame(np.arange(16).reshape(4,4),index=["A", "B", "C", "D"],columns=["Aluno", "Notas", "Idade", "Turma"])

print(f"\nRemovendo a linha [C] e coluna [TURMA] com DROP\n{df_drop.drop(index='C',columns='Turma')}")

print(f"\nRemovendo a linha [A, C] e coluna [ALUNO, TURMA] com DROP\n{df_drop.drop(index=['A','C'],columns=['Aluno', 'Turma'])}")

Numeros
a    0
b    1
c    2
d    3
e    4
Name: SERIE DROP, dtype: int32

Removendo a linha [C] com DROP
Numeros
a    0
b    1
d    3
e    4
Name: SERIE DROP, dtype: int32

Removendo a linha [C] e coluna [TURMA] com DROP
   Aluno  Notas  Idade
A      0      1      2
B      4      5      6
D     12     13     14

Removendo a linha [A, C] e coluna [ALUNO, TURMA] com DROP
   Notas  Idade
B      5      6
D     13     14

###### **Seleção e Filtragem**

A indexação das linhas de uma Séries ou DataFrames aceita tanto os valores inteiros (indice POSICIONAL) como os rótulos (quando temos um índice definido)

Para evitar problemas com o comportamento diferente em situações iguais usamos os OPERADORES { loc[] e iloc[] }

* loc   [ ]: Indexa pelo Rótulo de linhas do objeto (Série ou Dataframe), mas também aceita uma LISTA DE 
* iloc  [ ]: Indexa pela posição das linhas do objeto

In [ ]:
# DataFrame
df = pd.DataFrame({"Aluno":{'A':"paulo",'B':"pietro",'C':"patrizia"},"Nota":{'A':8,'B':10,'C':9},"Idade":{'A':41,'B':8,'C':40}})

print(f"Dataframse \n{df}")

print(f"\nFiltro com LOC primeira linha pelo Rótulo A\n{df.loc['A']}")

print(f"\nO operador LOC aceita uma lista BOOLEANA\n{df.loc[df['Nota'] < 10]}")

print(f"\nUsando o operador LOC para filtro de LINHAS e COLUNAS\n{df.loc[df['Nota'] < 10, ['Aluno','Idade']]}")

print(f"\nUsando o operador LOC para filtro de LINHAS e COLUNAS\n{df.loc[(df['Aluno'].str.startswith('pau')) & (df['Nota'] < 10), ['Aluno','Idade']]}")

print(f"\nFiltro com iLOC primeira linha pela POSIÇÃO 1\n{df.iloc[0]}")

print(f"\nFiltro com iLOC com SLICE\n{df.iloc[0:1, 0:]}")

# BroadCast

df.loc[df['Idade'] > 35, 'Nota'] = 10

print(f"\nUsando o operador LOC para BROADCAST\n{df}")

Dataframse
      Aluno  Nota  Idade
A     paulo     8     41
B    pietro    10      8
C  patrizia     9     40

Filtro com LOC primeira linha pelo Rótulo A
Aluno    paulo
Nota         8
Idade       41
Name: A, dtype: object

O operador LOC aceita uma lista BOOLEANA
      Aluno  Nota  Idade
A     paulo     8     41
C  patrizia     9     40

Usando o operador LOC para filtro de LINHAS e COLUNAS
      Aluno  Idade
A     paulo     41
C  patrizia     40

Usando o operador LOC para filtro de LINHAS e COLUNAS
   Aluno  Idade
A  paulo     41

Filtro com iLOC primeira linha pela POSIÇÃO 1
Aluno    paulo
Nota         8
Idade       41
Name: A, dtype: object

Filtro com iLOC com SLICE
   Aluno  Nota  Idade
A  paulo     8     41

Usando o operador LOC para BROADCAST
A    8
C    9
Name: Nota, dtype: int64

##### Função Apply e Map (a função substituta da applyMap)

É uma força de aplicar uma FUNÇÃO() nos valores de uma COLUNA ou das LINHAS usando o parametro [columns].

A função pode RETORNAR um valor ESCALAR ou uma série completa.

In [263]:
df_function_apply = pd.DataFrame(np.random.randint(1, 10, size=(3,3)))

print(f"Dataframe RANDOM de 1 à 10")
display(df_function_apply)

# ex1
# def multPares(x):
    
#     for i in range(len(x)):

#         if x[i] % 2 == 0:
#             x[i] += 1

#     return x

# ex2
# def multPares(x):
    
#     return x.max() - x.min()

# ex3
def multPares(x):
    return 10

display(df_function_apply.apply(multPares))

# ApplyMap server para aplicar a função para cada elemento do DataFrame
# Se chama ApplyMap porque as Séries já tem uma função Map

display(df_function_apply.map(multPares))

Dataframe RANDOM de 1 à 10

   0  1  2
0  2  1  8
1  9  7  7
2  1  8  2

0    10
1    10
2    10
dtype: int64

    0   1   2
0  10  10  10
1  10  10  10
2  10  10  10

##### Ordenação e classificação

- sort_index
- sort_values
- rank

In [ ]:
obj = pd.DataFrame(np.random.randint(1,16, size=(4,4)),
                    index=['um', 'dois', 'tres', 'quatro'],
                    columns=['d', 'b', 'a', 'c'])

# ORDENAÇÃO POR INDICE
display(obj.sort_index().style.set_caption("sort_index por linhas"))

display(obj.sort_index(axis="columns").style.set_caption("sort_index por colunas"))

# ORDENAÇÃO POR VALUE
display(obj.sort_values(by=['a']).style.set_caption("sort_values por colunas [a]"))

# ORDENAÇÃO POR RANK
display(obj.sort_values(by=['a']).style.set_caption("sort_values por colunas [a]"))